* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
@keyframes faideInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.centralization {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}
.container {
  display: flex;
}
.menu-dash {
  width: 264px;
  margin-top: 20px;
  nav {
    ul {
      margin-top: 15px;
      padding-left: 10px;
      button {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
      }
      button:focus {
        .small-dash {
          display: block;
        }
      }
      li {
        margin-top: 15px;
        list-style-type: none;

        a {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
.dashboard {
  margin-top: 40px;
  width: 216px;
  height: 40px;
  background: #f6f6f8;
  border-radius: 8px;
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6263d5;
    padding: 10px;
  }
}
.small-dash {
  display: none;
  p {
    margin-top: 15px;
    color: #6c6c6c;
  }
}
.dash-up {
  display: flex;
  justify-content: space-between;
  width: 100%;
  h1 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
  }
  div {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    align-items: center;

    height: 32px;
    a {
      display: flex;
      gap: 5px;
      text-decoration: none;
      color: black;
    }
  }
}
.container2 {
  width: 100%;
  padding-left: 60px;
  flex-direction: column;
}
.itens {
  margin-top: 33px;
  button {
    width: 91px;
    height: 40px;
    background-color: transparent;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
  }
  button:hover {
    background-color: #f6f6f8;
    border-radius: 8px;
    transition: 0.3s;
  }
}
.line {
  display: flex;
  padding-left: 16px;
  margin-top: 20px;
  hr {
    width: 100%;
    background-color: #f6f6f8;
    border: 0;
    height: 4px;
  }
  hr:nth-child(1) {
    width: 60px;
    background-color: #6263d5;
  }
}
.pesquisa {
  display: flex;
  align-items: center;
  margin-top: 50px;
  img {
    margin: 15px;
  }
  input {
    width: 100%;
    height: 20px;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6c6c6c;
    outline: none;
  }
}
.tabela {
  table {
    width: 100%;
    background-color: #f6f6f8;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
    border-collapse: collapse;

    input:before {
      content: "";
      width: 20px;
      height: 20px;
      margin-left: -3px;
      margin-top: -4px;
      border-radius: 5px;
      border: 3px solid #c4c4c4;
      position: absolute;
      background-color: white;

      outline: 0;
    }
    input:checked:after {
      content: "✓";
      width: 26px;
      height: 26px;
      margin-left: -3px;
      margin-top: -4px;
      position: absolute;

      font-size: 23px;
      text-align: center;

      color: white;
      background-color: #6263d5;

      border-radius: 5px;

      animation-name: faideInOut;
      animation-duration: 0.3s;
      animation-iteration-count: 1;

      outline: 0;
    }

    td {
      padding: 15px;
    }
    tr:nth-child(2) {
      background-color: white;
    }
    tr:nth-child(1) {
      color: #6c6c6c;
    }
  }
}

.avatar {
  display: flex;
  gap: 10px;
  h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
  }
  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #49494c;
  }
}
.btn1 {
  button {
    width: 83px;
    height: 31px;
    border-radius: 8px;
    background: #e0f2ff;
    border: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3892f3;
    cursor: pointer;
  }
}
.btn2 {
  button {
    width: 83px;
    height: 31px;
    border-radius: 8px;
    background: #ffebe7;
    border: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: red;
    cursor: pointer;
  }
}
@media screen and (max-width: 1450px) {
  .container {
    padding: 20px;
  }
}
@media screen and (max-width: 1050px) {
  .avatar {
    span {
      display: none;
    }
  }
}
@media screen and (max-width: 870px){
  .menu-dash{
    width: 200px;
    display: none;
  }
  .container2{
    padding: 0;
  }
}
@media screen and (max-width: 600px){
  .tabela{
 table{
  .st-delete-company {
    display: none;
  }
 }
}
}
@media screen and (max-width: 554px){
  .st-delete-company2{
    display: none;
  }
}
@media screen and (max-width: 435px){
  .st-delete-company3{
    display: none;
  }
}

